body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
background: #f8fafc;
}

.css-1re5hfz {
  padding: 0!important;
}

.css-yyii79 {
  margin-top: 0!important;
}

.markdown-body h2 {
  font-size: 1.75em;
  font-weight: bold;
  margin: 0.5em 0;
}

.markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em 0;
}

.markdown-body p {
  font-size: 1.25em;
  margin: 0.5em 0;
  padding: 0.5em 0;
}

.markdown-body img {
  font-size: 1.25em;
  display: inline-block;
}